@import url('https://fonts.googleapis.com/css?family=montserrat');

body {
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
  max-width: 1000px;
  align-items: left;
  align-content: left;
  text-align: left;
  font-family: montserrat;
  font-size: 8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.HighLight {
  color:#006ee6;
}

video {
  width: 80%;
  max-width: 800px;
  border-color: #fff;
  overflow: hidden;
}

.Dotted {
  border: 1px dotted black;
  border-style: none none dotted; 
  color: #fff; 
  background-color: #fff;
  letter-spacing: 10px;
}

a:visited {
  color:#006ee6
  ;
}
p {
  text-align: left;
  line-height: 2; 
  letter-spacing: 0.5px;
  font-size: 14px;
}

h1 {
  text-align: left;
}

h2 {
  text-align: left;
  font-weight: bold;
}

h3 {
  text-align: left;
  font-weight: 600;
}

h4 {
  text-align: left;
}

ul {
  text-align: left;
  line-height: 2;
  font-size: 14px;
}

a {
  text-decoration: none;
}